// header-bar.less
div.header-bar {
    position: absolute;
    background-color: black;
    height: 40px; width: 100%;
    top: 0px; left: 0px;
    color: white;
    img.header-bar-logo {
        margin: 0px 28px 0px 30px;
        padding: 10px 0px;
        height: 20px;
        width: auto;
    }
}
